.themify_builder .text-1241-0-0-0.module-text{background-repeat: repeat; }
.themify_builder .text-1241-1-0-1.module-text{background-repeat: repeat; }
.themify_builder .text-1241-2-0-1.module-text{background-repeat: repeat; }
.themify_builder .text-1241-3-0-1.module-text{background-repeat: repeat; }
.themify_builder .text-1241-4-0-1.module-text{background-repeat: repeat; }
.themify_builder .text-1241-5-0-1.module-text{background-repeat: repeat; }
