.themify_builder .text-1773-0-0-0.module-text{background-repeat: repeat; }
.themify_builder .buttons-1773-0-0-1.module.module-buttons{background-repeat: repeat; background-position: left top; }
.themify_builder .buttons-1773-0-0-1 div.module-buttons{text-align: center; font-weight: bold; }
.themify_builder .buttons-1773-0-0-1.module-buttons{margin:0px; }
.themify_builder .text-1773-2-0-1.module-text{background-repeat: repeat; }
.themify_builder .text-1773-4-0-1.module-text{background-repeat: repeat; }
.themify_builder .text-1773-6-0-1.module-text{background-repeat: repeat; }
.themify_builder .text-1773-8-0-1.module-text{background-repeat: repeat; }
.themify_builder .text-1773-10-0-1.module-text{background-repeat: repeat; }
