.themify_builder_312_row.module_row_0.module_row{background-attachment: scroll; background-position: center center; margin-top:80px; }
.module_row_2 .module_column_0.tb_312_column.module_column{text-align: center; }
.themify_builder .buttons-312-2-0-0 div.module-buttons{text-align: center; }
.themify_builder .buttons-312-2-0-0 .module-buttons .module-buttons-item a{background-color:#045ca9; color:#ffffff; }
.themify_builder .buttons-312-2-1-0 div.module-buttons{text-align: center; }
.themify_builder .buttons-312-2-1-0 .module-buttons .module-buttons-item a{background-color:#045ca9; color:#ffffff; }
