.themify_builder_8_row.module_row_0.module_row{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
.themify_builder_8_row.module_row_0.module_row>div.row_inner{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
.themify_builder .image-8-0-1-0.module-image{background-repeat: repeat; background-position: left top; }
.themify_builder .plain-text-8-0-1-1.module-plain-text{background-repeat: repeat; background-position: left top; }
