.themify_builder .text-628-0-0-1.module-text{padding-top:30px; padding-bottom:30px; }
.themify_builder .text-628-0-0-3.module-text{background-repeat: repeat; }
.themify_builder .text-628-0-0-5.module-text{padding-top:30px; padding-bottom:30px; }
.themify_builder .text-628-0-0-8.module-text{padding-top:30px; padding-bottom:30px; }
.themify_builder .buttons-628-0-0-11 div.module-buttons{text-align: center; }
.themify_builder .buttons-628-0-0-11 .module-buttons .module-buttons-item a{background-color:#045ca9; color:#ffffff; }
